name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  repository_dispatch:
    types:
      - webhook

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'latest'
          check-latest: true
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'    
      - name: Install dependencies
        run: |
          npm install --location=global npm@latest typescript@latest markdownlint-cli@latest
          npm install
      - name: Lint
        run: |
          npm run lint
          npm run mdlint
